<div class="content">
	<img src="images/VajraDance_logotype.png">

	<!--
	<div class="video-container">
	         <iframe src="http://www.youtube.com/embed/KTgyU5cdT7s" frameborder="0" width="560" height="315"></iframe>
	</div>
	-->
		<h2>The Vajra Dance</h2>
		<p>
			The Vajra Dance is a meditation in movement.
		</p>

		<p>
			The simple, slow and fluid movements relax the body, clear the mind, and relieve the tensions of our daily life.
		</p>

	<!--
		<h2>The hoisting of the flags in Pharping.</h2>
		<p>
			The flags will be put up in Pharping on Tibetan Losar and we will take pictures of the flags which will be sent to you by email.
		</p>
	-->


		<h2>Contacts</h2>
		<p>
			For more information and contacts, please write to: <a href="mailto:natalia.priymak@gmail.com">natalia.priymak@gmail.com</a>
		</p>

</div>
